<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title></title>
<link rel="stylesheet" type="text/css" href="http://121.199.38.132/css/login.css" ></link>
<script type="text/javascript" src="http://121.199.38.132/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/jloading-0.0.1.js"></script>

</head>
<body class="body">
	<div class="login_form">
		<div class="title_label">云南省旅游诚信通用管理</div>
		<input id="userTel" name="userTel" class="txt_username" type="text" placeholder="手机号" />
		<input id="userPwd" name="userPwd" class="txt_password" type="password" placeholder="密码" />
		<div class="remenber">
			<div class="remenber_me_label">记住登录状态</div>
			<input id="remenberMe" name="remenberMe" type="checkbox" class="remenber_me_check"/>
			<div class="forget_pw">忘记密码</div>
		</div>
		<div class="login_btn" onclick="doLogin();">登&nbsp&nbsp&nbsp录</div>
	</div>
	
	<div class="copy_right">Copyright © 2018 云南动量科技有限公司. 保留所有权利。</div>

<script>
var jLoading = new JLoading();

function doLogin() {
	var userTel = document.getElementById("userTel").value;
	var userPwd = document.getElementById("userPwd").value;

	if (userTel == '') {
		alert("请输入您的手机号");
		return;
	}

	if (userPwd == '') {
		alert("请输入您登陆的密码");
		return;
	}
	jLoading.showLoading();
	
	var url = getSvrAddress() + "doLogin.action?"
	url += "userTel=" + userTel + "&userPwd=" + userPwd;
	
	$.ajax({
		type : "GET",
		url : url,
		dataType : "json",
		success : function(data) {
			jLoading.hideLoading();
			if (data && data.isSuccess) {
				if(localStorage) {
					localStorage.setItem("me-common.user", JSON.stringify(data.rtnObj));
					location.href = "main.html";
				} else {
					alert("您的浏览器无法支持,请下载IE8以上版本的浏览器");
				}
			} else {
				alert(data.message);
			}
		}
	});
}
</script>
</body>
</html>