<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" ></meta>
<link rel="stylesheet" type="text/css" href="../css/tree_menu.css"/>
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/toolbar.css" />

<script type="text/javascript" src="http://121.199.38.132/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/jpagelst-0.0.1.js"></script>
<script type="text/javascript" src="../js/jloading-0.0.1.js"></script>
<script type="text/javascript" src="../js/jform-0.0.1.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/tree_menu.js"></script>
<script type="text/javascript" src="../js/jselect.lst-0.0.1.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/jtree.dialog.js"></script>
<script type="text/javascript" src="../js/jtree-0.0.1.js"></script>
</head>
<body>
<div id="userInfoBlock" class="title_block"></div>
<img src="http://121.199.38.132/images/main/shadow.png" style="width:100%;height:5px;"/>


<div style="margin:0 auto;width:95%;font-size:14px;">
	<div id="treeMenu"  class="menu_tree_block"></div>
	<div style="width:1px;background:#eeeeee;float:left;margin-top:10px;"></div>
	
	<div class="right_block">
		<div id="rightTitleBlock" class="right_title_block"></div>
		
		<div class="tab_bar_1">
			<label class="label_1">角色名称:</label>
			<input type="text" id="queryName" name="queryName" class="form_text"></input>
			
			<div class="button_1" onclick="queryEntityInfos()">查询</div>
			<div class="button_1" onclick="createEntity()">添加</div>
		</div>
		<div id="entityInfoLst" class="table_block"></div>
	</div>
</div>

<script>
processUserInfo({level:0, treeNodeId:"roleMgmt"});

var jLoading = new JLoading();
var jTreeDailog = new JTreeDailog({id:"areaTree", btnTxt:"确定", btnFunction:areaTreeSelected, rootLabel:"云南省", rootId:"2082f9334a2c46dfb46f9c0d05525853", rootLevel:1});

var formData = {
	id:"entityForm",
	formSize:2
}
var jForm = new JForm(formData);
var selectedRoleId;

var tableHeight = document.body.clientHeight - 55 - 52 - 65 - 50;
var lstInfo = {
	id : "entityInfoLst",
	titles: ["角色名称", "平台名称"],
	keys: ["name", "platform"],
	functionTitles:["修改角色", "删除角色", "配置角色菜单"],
	functions:[updateEntity, doDeleteEntity, editRoleMenuInfo],
	height:tableHeight,
	loadingFunction:loadEntityInfos
}
var jlst = new JPageLst(lstInfo);

function updateEntity(idx) {
	var record = jlst.getJLstRowInfo(idx);
	
	jForm.showForm({
		inputLst:[{label:"角色名称", type:"text", id:"name", value: record.name}
				, {label:"平台名称", type:"text", id:"platform", value: record.platform}
				, {label:"id", type:"hidden", id:"recId", value: record.rec_id}],
		title : "修改角色",
		btnTxt:"修改",
		btnFunction:doUpdateEntity
	});
}
function doUpdateEntity(data) {
	var url = getSvrAddress() + "updateRole.action";
	
	$.ajax({
		type: "POST",
		data: data,
		url:url,
		dataType:"json",
		success: function(data) {
			jForm.hideForm();
			if(data.isSuccess) {
				queryEntityInfos();
				alert("修改角色成功");
			} else {
				alert(data.message);
			}
		}
    });
}

function doDeleteEntity(idx) {
	if(confirm("您确定要删除该角色吗？")) {
		var record = jlst.getJLstRowInfo(idx);
		var url = getSvrAddress() + "deleteRole.action?"
		url += "recId=" + record.rec_id;
		
		jLoading.showLoading();
		
		$.ajax({
			type: "GET",
			url:url,
			dataType:"json",
			success: function(data) {
				jLoading.hideLoading();
				if(data.isSuccess) {
					queryEntityInfos();
				} else {
					alert(data.message);
				}
			}
		});
	}
}

function queryEntityInfos() {
	var pageInfo = jlst.getPagInfo();
	loadEntityInfos(pageInfo.page, pageInfo.rows);
}
function loadEntityInfos(page, rows) {
	var data = "page=" + page + "&rows=" + rows;
	var queryName = $("#queryName").val();
	if(queryName != "") {
		data += "&queryName=" + queryName;
	}
	
	var url = getSvrAddress() + "queryRoleLst.action?" + data;
	jLoading.showLoading();
	
	$.ajax({
		type: "GET",
		url:url,
		dataType:"json",
		success: function(data) {
			jLoading.hideLoading();
			if(data.isSuccess) {
				jlst.drawJPageLst(data.rtnObj);
			} else {
				alert(data.message);
			}
		}
    });
}


function createEntity() {
	var createFormInfo = {
		inputLst:[{label:"角色名称", type:"text", id:"name", isNotNull:true}
				, {label:"平台名称", type:"text", id:"platform", isNotNull:true}
				, {label:"所属区域", type:"custom", id:"areaCode", isNotNull:true}
				, {label:"所属行业", type:"custom", id:"industryCode", isNotNull:true}],
		title : "添加角色",
		btnTxt:"添加",
		btnFunction:doCreateEntity,
		customFunction:customFunction,
		customDelete:customDelete
	}
	jForm.showForm(createFormInfo);
}
function doCreateEntity(data) {
	//var url = getSvrAddress() + "createRole.action";
	var url = "http://localhost:8080/createRole.action";
	$.ajax({
		type: "POST",
		url:url,
		data:data,
		dataType:"json",
		success: function(data) {
			jForm.hideForm();
			if(data.isSuccess) {
				alert("新建角色成功");
				queryEntityInfos();
			} else {
				alert(data.message);
			}
		}
    });
}



function editRoleMenuInfo(idx) {
	var record = jlst.getJLstRowInfo(idx);
	if(record) {
		selectedRoleId = record.rec_id;
		queryRoleMenuInfos(selectedRoleId);
	}
}



var jSelectLstDialog = new JSelectLstDialog({id : "role_menu_dialog", btnTxt: "选择", btnFunction:menuSelected, isSimpleSelect: false});
var jSelectLstDialog2 = new JSelectLstDialog({id : "role_menu_dialog2", btnTxt: "选择", btnFunction:dialogSelected, isSimpleSelect: true});
function queryRoleMenuInfos(selectedRoleId) {
	var url = getSvrAddress() + "queryRoleMenuInfos.action?";
	url += "recId=" + selectedRoleId;
	$.ajax({
		type: "GET",
		url:url,
		dataType:"json",
		success: function(data) {
			if(data.isSuccess) {
				var selectedIdLst = new Array();
				if(data.rtnObj) {
					selectedIdLst = data.rtnObj;
				}
				jSelectLstDialog.showSelectLst({muiltSeleteArray: selectedIdLst, title: "选择角色所属菜单组", loadingInfos: queryMenuGroupInfos});
			}
		}
    });
}
function queryMenuGroupInfos(page, rows) {
	var url = getSvrAddress() + "queryMenuGroupLst.action?";
	url += "page=" + page + "&rows=" + rows;
	
	$.ajax({
		type: "POST",
		url:url,
		dataType:"json",
		success: function(data) {
			if(data.isSuccess) {
				var rtnEntity = {
					id : "entityInfoLst01",
					titles: ["菜单组名称","备注"],
					keys: ["name", "comments"],
					records: data.rtnObj,
					idKey:"rec_id",
					txtKey:"name"
				}
				jSelectLstDialog.finishLoadLstInfo(rtnEntity);
			}
		}
    });
}
function menuSelected(rtnObj) {
	var url = getSvrAddress() + "createRoleMenuInfos.action?";
	url += "&roleId=" + selectedRoleId;
	if(rtnObj) {
		url += "&rec_id=" + rtnObj.value;
	}
	jLoading.showLoading();
	
	$.ajax({
		type: "POST",
		url:url,
		dataType:"json",
		success: function(data) {
			jLoading.hideLoading();
			if(data.isSuccess) {
				alert("设置成功");
			} else {
				alert(data.message);
			}
		}
	});
}


function customFunction(id) {
	if(id == 'industryCode') {
		jSelectLstDialog2.showSelectLst({title:"请选择用户所属行业类别", loadingInfos:queryIndustyInfos});
	} else if(id == 'areaCode') {
		showAreaTreeDailog();
	}
}
function customDelete(id) {
	jForm.clearFormInfo(id);
}
function queryIndustyInfos(page, rows) {
	var data = "page=" + page + "&rows=" + rows;
	var url = getSvrAddress() + "queryIndustryCodeLst.action?" + data;
	$.ajax({
		type: "GET",
		url:url,
		dataType:"json",
		success: function(data) {
			jSelectLstDialog2.finishLoadLstInfo({titles:["行业名称", "行业编码"], records:data.rtnObj
			, keys:["industry", "industry_code"], idKey:"industry_code", txtKey:"industry"});
		}
    });
}
function dialogSelected(rtnObj) {
	rtnObj.id = "industryCode";
	jForm.processCustom(rtnObj);
}
function showAreaTreeDailog() {
	jTreeDailog.showTreeDailog();
}
function areaTreeSelected(rtnObj) {
	rtnObj.id = "areaCode";
	jForm.processCustom(rtnObj);
}
</script>
</body>
</html>